---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About me";

const myIdentity = {
	firstName: "Alex",
	lastName: "Leye",
	country: "Australia",
	occupation: "Software Engineer",
	hobbies: ["photography", "movies", "travelling", "cuisine"]
}

const skills = ["JavaScript", "Python", "React", "Astro", "Netlify"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "lowercase";
---

<BaseLayout pageTitle={pageTitle}>
		<h1 class="title">About</h1>
		<p class="mt-8">Here are some details about me:</p>
			<p>My name is {myIdentity.firstName}</p>
			<p>I live in {myIdentity.country} and I work as a {myIdentity.occupation}.</p>
			{myIdentity.hobbies.length >= 2 &&
			  <p>Two of my hobbies are: {myIdentity.hobbies[0]} and {myIdentity.hobbies[1]}</p>
			}
		<p class="mt-8">My skills are</p>
		<ul>
			{skills.map(i => <li class="skill">{i}</li>)}
		</ul>
</BaseLayout>