---
import BaseLayout from './BaseLayout.astro';
import { Image } from 'astro:assets';
import Utterances from '../components/Utterances.astro';
const { frontmatter } = Astro.props;
const { minutesRead } = Astro.props.frontmatter;
---

<BaseLayout pageTitle={frontmatter.pageTitle}>
    <div class="bg-global-bg text-global-text mx-auto flex min-h-screen max-w-3xl flex-col px-4 pt-16 font-mono text-sm font-normal antialiased sm:px-8 grow break-words">        
        <!-- Metadata -->
        <div class="flex flex-wrap items-center gap-3 mb-4 text-xs text-gray-600 dark:text-gray-400">
            <span>Published {frontmatter.pubDate.toLocaleDateString('en-GB', { day: 'numeric', month: 'long', year: 'numeric' })}</span>
            <span>•</span>
            <span>{minutesRead}</span>
            <span>•</span>
            <span>by {frontmatter.author}</span>
        </div>

        <!-- Title -->
        <h1 class="title text-xl sm:text-2xl font-bold mb-4 break-words overflow-hidden">{frontmatter.title}</h1>

        <!-- Description -->
        <p class="text-sm text-gray-700 dark:text-gray-300 mb-4 leading-relaxed break-words overflow-hidden"><em>{frontmatter.description}</em></p>
        
        <!-- Tags -->
        <div class="flex flex-wrap gap-2 mb-4">
            {frontmatter.tags.map((tag: string) => (
                <a href={`/tags/${tag}`} class="inline-block px-2 py-1 text-xs border border-gray-300 dark:border-gray-600 rounded-md bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors">
                    {tag}
                </a>
            ))}
        </div>

        <!-- Featured Image -->
        {frontmatter.image?.url && frontmatter.image?.alt && (
            <Image src={frontmatter.image.url} alt={frontmatter.image.alt} class="w-full max-w-lg mx-auto rounded-lg shadow-md mb-6" loading="eager" />
        )}

        <div class="flex flex-col gap-10 lg:flex-row lg:items-start">
        <!-- Content -->
            <div class="prose prose-sm prose-headings:font-semibold prose-headings:text-accent-2 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-gray-600 prose-headings:hover:before:text-accent sm:prose-headings:before:content-['#'] sm:prose-th:before:content-none">
                <slot />
            </div>
        </div>

        <Utterances />
    </div>
</BaseLayout>